.main__layout {
    margin: 10px;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    /*backdrop-filter: blur(10px);*/
    background-color: azure;
    border-radius: 20px;
    border-color: aliceblue;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .main__layout {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}